@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/NotoSerifJPRegular.otf");
  font-family: "Noto Serif JP";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/NotoSerifJPBold.otf");
  font-family: "Noto Serif JP";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/InterRegular.ttf");
  font-family: "Inter";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/InterMedium.ttf");
  font-family: "Inter";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/RobotoRegular.ttf");
  font-family: "Roboto";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/PlusJakartaSansRomanSemiBold.ttf");
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
}
